.darkveil-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.darkveil-canvas {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.darkveil-content {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
}